
@media screen and (max-width:992px){
	.txt-big,.img-txt__subtitle {
		font-size: 50px;
	}
}
@media screen and (max-width:768px){
	.txt-big,.img-txt__subtitle {
		font-size: 40px;
	}
}
@media screen and (max-width:576px){
	.txt-big.img-txt__subtitle {
		font-size: 33px;
	}
}
@media(max-width: 2270px){
	.block-2__content__title-2{
		margin-left: 20%;
	}
}
@media(max-width: 2000px){
	.block-2__content__title-2{
		margin-left: 10%;
	}
}
@media(max-width: 1550px){
	.block-2__content__title-2{
		margin-left: 4%;
	}
}
@media(max-width: 1290px){
	.block-2__content__title-2{
		margin-left: 20%;
	}
	.block-text__col-3{
		margin-left: 20%;
	}
	.block-text__item-2{
		margin-bottom: 20px;
		margin-right: 20%;
	}
}
@media(max-width: 1110px){
	.block-text__col-3{
		margin-left: 10%;
	}
	.block-text__item-2{
		margin-bottom: 20px;
		margin-right: 10%;
	}
}
@media(max-width: 860px){
	.block-2__content__title-2{
		margin-left: 10%;
	}
}
@media(max-width: 736px){
	.block-text__col-3{
		margin-left: 5%;
	}
}
@media(max-width: 695px){
	.block-2__content__title-2{
		margin-left: 20%;
	}
	.block-text__col-3{
		margin-left: 6%;
	}
}
@media(max-width: 480px){
	.block-2__content__title-2{
		margin-left: 6%;
	}
	.block-text__col-3{
		margin-left: 0%;
	}
}
@media(max-width: 340px){
	.block-2__content__title-2{
		font-size: 30px;
	}
}

@media(max-width: 1220px){
	.block-text__col-2{
		margin-left: 0px;
		margin-top: -140px;
	}
}
@media(max-width: 640px){
	.block-text__col-2{
		margin-right: 30px;
		margin-left: 30px;
	}
}
@media(max-width: 400px){
	.block-2__content__title{
		font-size: 26px;
	}
}

@media(max-width: 1610px){
	.property__row-1{
		justify-content: flex-start;
		margin-left: 10%;
		margin-right: 20%;
	}
}
@media(max-width: 1280px){
	.property__row-1{
		margin-left: 20%;
		margin-right: 5%;
	}
}
@media(max-width: 1066px){
	.property__row-1{
		margin-left: 20%;
		margin-right: 0%;
	}
}
@media(max-width: 1010px){
	.property__row-1{
		margin-left: 10%;
		margin-right: 0%;
	}
}
@media(max-width: 890px){
	.property__row-1{
		margin-left: 0%;
		margin-right: 0%;
	}
}
@media(max-width: 800px){
	.property__row-1{
		justify-content: center;
		margin-left: 0%;
		margin-right: 0%;
	}
	.item__big{
		width: 400px;
		height: 278px;
	}
}
/*Block-3*/
@media(max-width: 1750px){
	.block-3__content{
		margin-left: 20%;
	}
}
@media(max-width: 1400px){
	.block-3__content{
		margin-left: 7%;
	}
}
@media(max-width: 580px){
	.block-3__title{
		font-size: 50px;
	}
	.block-3__text{
		margin-right: 20px;
	}
}
@media(max-width: 470px){
	.block-3__title{
		font-size: 40px;
	}
	.block-3__text{
		margin-right: 30px;
	}
}
@media(max-width: 375px){
	.block-3__content{
		margin-top: 500px;
	}
	.block-3__title{
		font-size: 30px;
	}
	.block-3__text{
		margin-right: 30px;
	}
}


/*Footer*/
@media(max-width: 1820px){
	.footer__row-1{
		margin-bottom: 30px;
	}
	.footer__content{
		padding-left: 350px;
	}
	.footer__item__text{
		margin-bottom: 30px;
	}
}
@media(max-width: 1660px){
	.footer__content{
		padding-left: 150px;
	}
}
@media(max-width: 1460px){
	.footer__content{
		padding-left: 50px;
	}
}
@media(max-width: 1360px){
	.footer__content{
		padding-left: 150px;
	}
}
@media(max-width: 760px){
	.footer__content{
		padding-left: 50px;
	}
	.footer__row-1__item{
		margin-right: 0;
	}
	.footer__item__text{
		margin-right: 70px;
	}
}
@media(max-width: 651px){
	.footer__row-2{
		flex-direction: column;
	}
}
@media(max-width: 535px){
	.footer__content{
		padding-left: 20px;
	}
}
@media(max-width: 500px){
	.footer__input{
		width: 300px;
	}
}
@media(max-width: 400px){
	.footer__input{
		width: 225px;
	}
}